{% extends "dashboard/index.html" %}
{% load static %}

{% block title %}Forbidden Words List{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h2>All Forbidden Words</h2>

    <a href="{% url 'forbidden:add_forbidden_word' %}" class="btn btn-primary mb-3">Add forbidden word</a>

    {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    {% if forbidden_words %}
      <ul class="list-group">
        {% for forbidden_word in forbidden_words %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ forbidden_word.word }}
            <span>
              <a href="{% url 'forbidden:edit_forbidden_word' forbidden_word.pk %}" class="btn btn-sm btn-info">Edit</a>
              <a href="{% url 'forbidden:delete_forbidden_word' forbidden_word.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Forbidden Words available.</p>
    {% endif %}
  </div>
{% endblock %}
